footer
  ul.share-group
    li
      a(href='#')
        i.icon-envelope-alt
    li
      a(href='#')
        i.icon-comments
    li
      a(href='#')
        i.icon-github
    li
      a(href='#')
        i.icon-laptop
    li
      a(href='#')
        i.icon-twitter
    li
      a(href='#')
        i.icon-google-plus-sign
  .copy &copy 庄洪泉-2017
a#back_top(href="javascript:;", title="回到顶部")