.header-row
  a#sidebar(href="#")
  h3 zhqGit
.mask
.navigation
    .nav-list
      ul.navlist
        li
          a(href="/")
            i.icon-home
            span 首页
        li
          a(href="/admin/article/weblist")
            i.icon-globe
            span 前端
        li
          a(href="/admin/article/lifelist")
            i.icon-book
            span 杂记
        li
          a(href="/admin/article/my")
            i.icon-book
            span 关于
        li
          a(href="/admin/article/resume")
            i.icon-book
            span 简历
        if user
          if user.role>0
            li
              a(href="/admin/article/new")
                i.icon-pencil
                span 记录
        if user
          li
            a(href="/logout")
              i.icon-bell
              span 退出
        else
          li
            a#btnLogin(href="/signin")
              i.icon-user
              span 登录
          li
            a#btnLogup(href="/signup")
              i.icon-file-alt
              span 注册
    hr
    h4 Contcat Me 
    .contact-list
      ul
        li
          a(href='#') 
            i.icon-envelope-alt
        li
          a(href='#')
            i.icon-comments
        li
          a(href='https://github.com/zhqgit')
            i.icon-github
        li
          a(href='https://freecodecamp.cn/zhqgit')
            i.icon-fire
      iframe(frameborder='no', border='0', marginwidth='0', marginheight='0', width='280', height='86', src='//music.163.com/outchain/player?type=2&id=402073807&auto=0&height=66')

//- .login-list
    //-   #login-area
    //-     if user
    //-       button#btnLogout.login-btnbtn.btn.btn-danger(hidefocus="true")
    //-         a(href='/logout') 退出
    //-     else
    //-       button#btnLogin.login-btnbtn.btn.btn-success(hidefocus="true")
    //-         a(href='#') 登录
    //-       button#btnLogup.logup-btnbtn.btn.btn-info(hidefocus="true")
    //-         a(href='#') 注册

