/*
==============================
-----------维护信息-----------
Site:             zhqGit.top
Author:           zhqgit
Updated:          2017/6/19
Updated by:       zhqgit
==============================
*/

/*
=================================
------Font Size(字体大小)--------
Body font-size:          16px;
=================================
*/


/*
=================================
------COLORS(公用颜色标记)--------
Body background:         #000
Container background:    #fff
Links:                   #000
Body text:               #000
=================================
*/


body {
    color: #000;
    font-family: 微软雅黑;
    font-size: 10px;
    background-color: #f1f1f1;
}

div {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}


/*
    -------------------
        a styles
    -------------------
 */

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}

/*
    --------------------
       Header Styles 
    -----------------------------
 */
.header-row {
    position: fixed;
    width: 100%;
    height: 5em;
    background-color: #090723;
    z-index: 99;
}

.header-row h3 {
    color: #fff;
    /*font-family: 微软雅黑;*/
    font-size: 1.6em;
    position: relative;
    top: 0.8em;
    left: 6em;
}

#sidebar {
    display: inline-block;
    position: absolute;
    top: 0.8em;
    right: 1.2em;
    width: 3.2em;
    height: 3.2em;
    background: url(../images/more.png) no-repeat;
}

.navigation {
    background-color: #000;
    position: fixed;
    width: 30em;
    top: 0;
    bottom: 0;
    right: -30em;
    z-index: 100;
    color: #fff;
}

.navigation .nav-list {
    margin: 5em 0 0 0;
}

/*.navigation .login-list {
    float: right;
}*/

.navigation .navlist,
.contact-list ul {
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 0;
}

.navigation .navlist li {
    width: 100%;
}

.navigation .navlist li a {
    display: inline-block;
    line-height: 2.5em;
    width: 100%;
    padding: 0 0 0 4em;
    letter-spacing: .2em;
}

.navigation .navlist a:hover,
.contact-list li a:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.99);
    letter-spacing: .2em;
}

.contact-list li a {
    display: inline-block;
    text-align: center;
    float: left;
    line-height: 2.5em;
    font-size: 1.4em;
    width: 50%;
    padding-left: 0;
    letter-spacing: .2em;
}

.navigation h4 {
    padding-left: 3em;
    margin-bottom: 2em;
}

/*
    --------------
    footer styles
    --------------
 */

footer {
    background: #090723;
    height: 50px;
    text-align: center;
}

footer .copy {
    color: #fff;
    padding-top: 15px;
    font-family: "Microsoft YaHei UI Light";
}


/*
    -------------------
    mask styles
    -------------------
 */

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}



.index-container {
    /*padding-top: 50px;*/
    /*width: 70%;*/
    /*height: 1100px;*/
    margin:0 auto;
    position: relative;
    top:50px;
}



.index-container #sidebar {
    width: 300px;
    /*background-color: #f00;*/
    position: absolute;
    right: 0px;
    top:0px;
}


#close {
    /*background:url(/images/close.png) no-repeat; */
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 15px;
    text-indent: -999em;
}

#mask {
    background-color: #ccc;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

#login {
    position: fixed;
    z-index: 1001;
    background: #ffffff;
    width: 400px;
    background: url(/images/pic01.jpg) center center no-repeat;
}


/*.loginCon{
    position:relative;
    width:670px;
    height:380px;
    background:url(/images/loginBg.png) #2A2C2E center center no-repeat;
    }*/


/*admin.article.new*/

#inputContent {
    height: 50px;
}

#articleData {
    text-align: right;
}




/*
    ---------------
    back_top styles
    ---------------
 */

#back_top {
    position: fixed;
    bottom: 80px;
    left: 600px;
    display: none;
    width: 32px;
    height: 32px;
    margin-left: 50%;
    background: url('/images/back_top.png') no-repeat left top;
    color: #000;
}


/*
    -----------------
    weblist styles
    -----------------
 */

.weblist-container {
    min-height: 800px;
}

/*.weblist-container .article-content:nth-child(odd) {
    color: #fff;
    background: rgba(0, 0, 0, .9);
}

.weblist-container .article-content:nth-child(even) {
    color: #fff;
    background: #3b4b99;
}*/

/*.weblist-container .weblist-title,
.article-container .article-heading {
    background: rgba(255, 255, 255, .5);
    color: #000;
    height: 60px;
    margin-bottom: 20px;
}
*/

/*.weblist-container .weblist-title h3,
.weblist-container .article-title {
    margin: 0;
    padding-left: 30px;
    padding-top: 15px;
}*/

.weblist-container .article-content {
    height: 450px;
    background: #fff;
    margin-bottom: 10px;
}

.weblist-container .article-title {
    padding: 15px 35px;
    height: 150px;

    border-bottom: 1px solid rgba(0, 0, 0, .3);

}

.weblist-container .article-title a {
    display: inline-block;
    width: 100%;
}

.weblist-container .article-title h2{
    /*color: red;*/
    font-size: 30px;
    font-weight: 500;
    /*margin: 20px 0;*/
}

.weblist-container .article-content p {
    /*padding-left: 30px;*/
}

.weblist-container .article-content .article-data{
    padding: 20px 30px;
}

.weblist-container .article-summary {
    padding-left: 100px;
}

.weblist-container .weblist-content .article-detail{

}

#article-time,#article-author,#article-catetory{
    float: left;
}


.weblist-content .list-group-item,.article-container .list-group-item{
    border:0;
    padding: 0;
    float: left;
    margin-left:10px;
}

.weblist-content .span,.article-container .span{
    margin-left: 6px;
    font-size: 12px;
}

/*
    -----------------
    pagedetail styles
    -----------------
 */

.article-container,
.weblist-container,
.sign-container {
    width: 100%;
    /*margin:50px auto 20px;*/
    padding: 60px 350px 0 350px;
    /*background: url(../images/bg-yellow.png) repeat;*/
}

.article-container .article-panel {
    background-color: #fff;
    padding-top: 30px;
    padding: 0;
}

.article-container .article-heading {
    height: 150px;
    border-bottom: 1px solid #d3d5d7;
    padding: 30px 40px;
}

.article-container .article-heading h3 {
   color: #f15a23;
}

.article-container .article-content {
    min-height: 550px;
    padding: 15px 30px;
}


/*
    -----------------
    sign styles
    -----------------
 */

.sign-container {
    min-height: 800px;
}

.sign-container .form-container {
    width: 60%;
}


/*
    -----------------
    article.jade styles
    -----------------
 */

.editor-container {
    /*z-index: -100;*/
    /*width: 800px;*/
    background-color: #f1f1f1;
    padding-top:60px;
    position: relative;
}

#form-artilce{
    width: 1100px;
    margin: 0 auto;
}

.upload-container {
    /*background-image: url(../images/rv/add.jpg);*/
    /*background-repeat: no-repeat;*/
    background: #fff;
    width: 50%;
    height: 80px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    width: inherit;
    height: 80px;
}

#j_imgPic {
    width: 50px;
    height: 50px;
}

#inputContent{
    height: 450px;
}



#div1,#div2,#div3{
    position: static;
}






#div4{
    position: relative;
    left:20px;
}


.article-container #my p{
    font-size: 16px;
    font-weight: bold;
}



/*
    --------------------
        Main Styles
    --------------------
*/
.main{
    /*color: #000;*/
    width: 100%;
    padding: 5em 0 0;
}

.main .weblist-content{
    margin: 0 10em;
    /*height: 100em;*/
}

.main .article-content{
    height: 20em;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 4px 4px 18px rgba(0,0,0,0.46);
    border-radius: 6px;
    padding: 20px;
}

.main .article-title h2{
    margin: 0;
    font-size: 1.2em;
    color: #009a61;
}

.main a{
    color: #000;
}

.main .article-data p{
    font-size: 1.3em;
}

.main .article-info{
    width: 100%;
}

.main .article-category, .main .article-tag{
    float: left;
    width: 100px;
    margin-right: 20px;
}

.main .article-category{
    background-color: #009a61;
    height: 2em;
}

.main .article-tag{
    background-color: #000;
}