/*
==============================
-----------维护信息-----------
Site:             zhqGit.top
Author:           zhqgit
Updated:          2017/6/19
Updated by:       zhqgit
==============================
*/

/*
=================================
------Font Size(字体大小)--------
Body font-size:          16px;
=================================
*/


/*
=================================
------COLORS(公用颜色标记)--------
Body background:         #000
Container background:    #fff
Links:                   #000
Body text:               #000
=================================
*/

body {
    color: #000;
    font-family: 微软雅黑;
    font-size: 10px;
    background-color: #f1f1f1;
}

div {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}


/*
    -------------------
        a styles
    -------------------
 */

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}

/*
    --------------------
       Header Styles
    -----------------------------
 */
.header-row {
    position: fixed;
    width: 100%;
    height: 5em;
    background-color: #090723;
    z-index: 99;
}

.header-row h3 {
    color: #fff;
    /*font-family: 微软雅黑;*/
    font-size: 1.6em;
    position: relative;
    top: 0.8em;
    left: 6em;
}

#sidebar {
    display: inline-block;
    position: absolute;
    top: 0.8em;
    right: 1.2em;
    width: 3.2em;
    height: 3.2em;
    background: url(../images/more.png) no-repeat;
}


/*
    ------------------------
       Navigation Styles
    ------------------------
 */
.navigation {
    background-color: #000;
    position: fixed;
    width: 30em;
    top: 0;
    bottom: 0;
    right: -30em;
    z-index: 100;
    color: #fff;
}

.navigation .nav-list {
    margin: 5em 0 0 0;
}

/*.navigation .login-list {
    float: right;
}*/

.navigation .navlist,
.contact-list ul {
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 0;
}

.navigation .navlist li {
    width: 100%;
}

.navigation .navlist li a {
    display: inline-block;
    line-height: 2.5em;
    width: 100%;
    padding: 0 0 0 4em;
    letter-spacing: .2em;
}

.navigation .navlist a:hover,
.contact-list li a:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.99);
    letter-spacing: .2em;
}

.contact-list li a {
    display: inline-block;
    text-align: center;
    float: left;
    line-height: 2.5em;
    font-size: 1.4em;
    width: 50%;
    padding-left: 0;
    letter-spacing: .2em;
}

.navigation h4 {
    padding-left: 3em;
    margin-bottom: 2em;
}


/*
    ---------------------
        footer styles
    ---------------------
 */
footer {
    background: #333333;
    min-height: 20em;
    text-align: center;
}

.share-group {
    margin: 0 auto;
    display: block;
    width: 90em;
    padding: 5em;
}

.share-group li {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 10px;
}

.share-group li a{
    font-size: 1.5em;
}

footer .copy {
    font-family: "Microsoft YaHei UI Light";
}


/*
    -------------------
    mask styles
    -------------------
 */

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}


.index-container {
    /*padding-top: 50px;*/
    /*width: 70%;*/
    /*height: 1100px;*/
    margin:0 auto;
    position: relative;
    top:50px;
}



.index-container #sidebar {
    width: 300px;
    /*background-color: #f00;*/
    position: absolute;
    right: 0px;
    top:0px;
}


#close {
    /*background:url(/images/close.png) no-repeat; */
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 15px;
    text-indent: -999em;
}

#mask {
    background-color: #ccc;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

#login {
    position: fixed;
    z-index: 1001;
    background: #ffffff;
    width: 400px;
    background: url(/images/pic01.jpg) center center no-repeat;
}


/*.loginCon{
    position:relative;
    width:670px;
    height:380px;
    background:url(/images/loginBg.png) #2A2C2E center center no-repeat;
    }*/


/*admin.article.new*/

#inputContent {
    height: 50px;
}

#articleData {
    text-align: right;
}




/*
    ---------------
    back_top styles
    ---------------
 */

#back_top {
    position: fixed;
    bottom: 80px;
    left: 600px;
    display: none;
    width: 32px;
    height: 32px;
    margin-left: 50%;
    background: url('/images/back_top.png') no-repeat left top;
    color: #000;
}

/*
    -----------------
    pagedetail styles
    -----------------
 */

.article-container,
.sign-container {
    width: 100%;
    padding: 60px 350px 0 350px;
}

.article-container .article-panel {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 500px;
    position: relative;
}

.article-container .article-panel article{
    padding-bottom: 100px;
}

.article-container .article-panel .accountEmail{
    position: absolute;
    bottom: 10px;
    /*margin-top: 50px;*/
    font-size: 1.5em;
    font-weight: 600;
}

.article-container .article-panel h3{
    width: 80%;
    font-weight: 600;
    margin: 20px auto;
    text-align: center;
}

/*
    -----------------
    sign styles
    -----------------
 */

.sign-container {
    min-height: 800px;
}

.sign-container .form-container {
    width: 60%;
}


/*
    -----------------
    article.jade styles
    -----------------
 */

.editor-container {
    /*z-index: -100;*/
    /*width: 800px;*/
    background-color: #f1f1f1;
    padding-top:60px;
    position: relative;
}

#form-artilce{
    width: 1100px;
    margin: 0 auto;
}

.upload-container {
    /*background-image: url(../images/rv/add.jpg);*/
    /*background-repeat: no-repeat;*/
    background: #fff;
    width: 50%;
    height: 80px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    width: inherit;
    height: 80px;
}

#j_imgPic {
    width: 50px;
    height: 50px;
}

#inputContent{
    height: 450px;
}



#div1,#div2,#div3{
    position: static;
}






#div4{
    position: relative;
    left:20px;
}


.article-container #my p{
    font-size: 16px;
    font-weight: bold;
}



/*
    --------------------
        Main Styles
    --------------------
*/
.main{
    /*color: #000;*/
    width: 100%;
    padding: 5em 0 0;
}

.main .weblist-content{
    margin: 0 10em;
    /*height: 100em;*/
}

.main .article-content{
    position: relative;
    height: 20em;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 4px 4px 18px rgba(0,0,0,0.46);
    border-radius: 6px;
    padding: 20px;
}

.main .article-title a{
    font-size: 1.8em;
    color: #009a61;
}

.main a{
    color: #000;
}

.main .article-data p{
    font-size: 1.3em;
}

.main .article-info{
    width: 100%;
}

/*.main .article-tag{*/
    /*float: left;*/
    /*margin-right: 20px;*/
/*}*/

/*.main .article-category{*/
    /*background-color: #009a61;*/
    /*height: 2em;*/
/*}*/

.main .article-tag{
    position: absolute;
    bottom: 10px;
    /*left: 5px;*/
}

.main .article-tag ul{
    padding: 0;
}

.main .article-tag li{
    font-size: 1.3em;
    margin-right: 1em;
}
/*
    --------------------
        Next button Styles
    --------------------
*/
/*.next{*/
    /*width: 100px;*/
    /*height: 50px;*/

/*}*/

.next-forword{
    text-align: center;
    height: 80px;
    padding-top:20px;
}

.next-forword a{
    font-size:1.5em;
    margin:0 10px;
}

.next-forword a:hover{
    color:#3498DB;
}

