extends ../layout

block content
	.weblist-container
		.weblist-title 
			h3 /杂记
		.weblist-content
			if catetory.articles && catetory.articles.length > 0
				each item in catetory.articles
					.article-content
						h4.article-title 
							a(href="/article/#{item._id}") !{item.title}
						if item.summary
							p !{item.summary}
						else 
							p !{item.content.substring(0,20)}...