extends ../layout

block content
	.resume-container.clearfix
		.primary
			.intro
				// 基本信息
				.header
					img.img-me(src='/images/me.jpg')
					h1.intro-name 庄洪泉
					p.intro-work web 前端
					p.intro-school
						i.icon-user
						|   本科 ·  华南师范大学
					p.intro-school
						i.icon-phone-sign
						|  130********    
						i.icon-envelope
						|  zhqzywy@163.com
					p.intro-school
						i.icon-github
						|   Github  
						a(href='https://github.com/zhqgit') https://github.com/zhqgit
					p.intro-school
						i.icon-heart
						|   博客  
						a(href='http://zhqgit.top') http://zhqgit.top
				// 基本信息
				// 基本资料
				#3.baseinfo.module
					.title
						a(name='baseinfo')
							span.theme 基本资料
					.desc.clearfix
						dl.clearfix
							dt.sub-title 基本信息
							dd 庄洪泉 · 男 · 1994.06
						dl.clearfix
							dt.sub-title 政治面貌
							dd 共青团员
						dl.clearfix
							dt.sub-title 公  司
							dd 暂无
						dl.clearfix
							dt.sub-title 户  籍
							dd 广东 普宁
				// 基本资料
				// 期望工作
				#4.job.module
					.title
						span.theme 期望工作
					.desc.clearfix
						dl.clearfix
							dt.sub-title 期望工作
							dd web前端 互联网
						dl.clearfix
							dt.sub-title 期望城市
							dd 深圳  广州  杭州  佛山
						dl.clearfix
							dt.sub-title 期望薪资
							dd 暂无
						dl.clearfix
							dt.sub-title 当前状态
							dd 大三 找实习
				#5.honor.module
					.title
						span.theme 所获荣誉
					.desc.clearfix
						ul
							li 华南师范大学“挑战杯”金种子培育项目 · 《基于B/S架构的资源共享式虚拟学习社区的设计与实现》 · 获得立项 · 开发中
							li 华南师范大学第四届提案征集大赛 · 《关于支付宝充值校园一卡通的提案》 · 十大优秀提案
				// 所获荣誉
				// 自我描述
				#6.skill.module
					.title
						span.theme 自我描述
					.desc.clearfix
						ul
							li 问题解决者
							li 团队协作沟通者
							li 靠谱青年
							li 执行力
							li 对产品感兴趣~
				// 自我描述
				// 技能标签
				#7.tags.module
					.title
						span.theme 技能标签
					.desc
						.media
							.media-left.resume-left
								.text 熟悉：
							.media-body
								ul.ul-tags
									li html+css
									li bootstrap
									li js、jquery

						.media
							.media-left.resume-left
								.text 会用：
							.media-body
								ul.ul-tags.clearfix
									li NodeJS
									li express
									li PHP
									li vuejs
									li webpack+grunt
									li jade
									li MongoDB
									li MySql
								ul.ul-tags.clearfix
									li.no
										| express：是node框架，使用express开发了本博客；
									li.no backbone.js：曾使用banbone.js+underscore.js实现页面的绑定；
				// 技能标签
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
		.second
			.catalogue
				ul.catalogue-ul
					li
						a(href='#3')
							i.icon-user
							|     基本资料
					li
						a(href='#4')
							i.icon-laptop
							|     期望工作
					li
						a(href='#5')
							i.icon-star
							|     所获荣誉
					li
						a(href='#6')
							i.icon-magnet
							|     自我评价
					li
						a(href='#7')
							i.icon-tags
							|     技能标签
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
