.panel-lite
  .thumbur
    .icon-lock
  h4 用户登录
  .form-group
    input.form-control(required='required')
    label.form-label 用户名    
  .form-group
    input.form-control(type='password', required='required')
    label.form-label 密　码
  a(href='#') 忘记密码 ?  
  button.floating-btn
    i.icon-arrow