extends ../layout

block content
	.main
		.weblist-content
			if catetory.articles && catetory.articles.length > 0
				each item in catetory.articles
					.article-content
						.article-title
							a(href="/article/#{item._id}")
								h2 !{item.title}
						.article-data
							-var test = item.content.replace(/<\/?.+?>/g,"");
							-var tt = test.substr(0,400);
							p !{tt}...
							div.article-info
								div.article-category
									a
								div.article-tag
									ul
										li
							//- ul.list-group
							//- 	li.list-group-item
							//- 		button.btn.btn-default
							//- 			i.icon-cloud
							//- 			span.span #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
							//- 	li.list-group-item
							//- 		button.btn.btn-default
							//- 			i.icon-cloud
							//- 			span.span 前端
	//- script(src="/js/index.js")